<div>
    <h3 class="row">Employee CRUD</h3>
    <form class="form-horizontal" [formGroup]="regForm" (submit)="logForm()">
        <div class="form-group">
            <label for="eid" class="control-label col-sm-2">Id: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="eid" id="eid">
            </div>
        </div>
        <div class="form-group">
            <label for="ename" class="control-label col-sm-2">Employee name: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="ename" id="ename">
            </div>
        </div>
        <div class="form-group">
            <label for="edesignation" class="control-label col-sm-2">Designation: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="edesignation" id="edesignation">
            </div>
        </div>
        <div class="form-group">
            <label for="esalary" class="control-label col-sm-2">Salary: </label>
            <div class="col-sm-6">
                <input type="text" class="form-control" formControlName="esalary" id="esalary">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2" *ngIf="!updateFlag">
                <button type="button" class="btn btn-default btn-block" (click)="add()">Add</button>
            </div>
            <div class="col-sm-2" *ngIf="updateFlag">
                <button type="button" class="btn btn-default btn-block" (click)="update_submit()">Modify</button>
            </div>
        </div>
    </form>
    <hr>
    <h3 class="row">Employee Table</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Salary</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="elist">
                    <tr *ngFor="let person of elist">
                        <td>{{person.eid}}</td>
                        <td>{{person.ename}}</td>
                        <td>{{person.edesignation}}</td>
                        <td>{{person.esalary}}</td>
                        <td>
                            <button type="button" class="btn btn-default" (click)="eupdate(person, $event)">Update</button> 
                            <button type="button" class="btn btn-default" (click)="edelete(person, $event)">Delete</button>
                        </td>
                    </tr>
            </ng-container>
        </tbody>    
    </table>
</div>